IMPORT{db}="UDEV_DISABLE_PERSISTENT_STORAGE_RULES_FLAG"
IMPORT{db}="DM_NOSCAN"
IMPORT{db}="UDISKS_IGNORE"

ACTION=="add", SUBSYSTEM=="block", PROGRAM="/bin/cat /sys/module/block/parameters/no_part_scan", RESULT!="N", ENV{UDEV_DISABLE_PERSISTENT_STORAGE_RULES_FLAG}="1", ENV{DM_NOSCAN}="1", ENV{UDISKS_IGNORE}="1"
